@use "../helpers/mixins" as *;

.services {
  padding: var(--main-padding) 0;
  background-color: var(--section-background);
  counter-reset: info-counter;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-gap-mobile);

    @include respond-to-mobile {
      gap: var(--spacing-gap-tablet);
    }

    @include respond-to-tablet {
      gap: var(--spacing-gap-desktop)
    }
  }

  &__service {
    background-color: var(--background-white);
    text-align: center;
    position: relative;
    box-shadow: 0 12px 20px 0 var(--shadow-light);
    transition: transform linear var(--main-transition), boxshadow linear var(--main-transition);

    i {
      margin: var(--spacing-2xl) 0 var(--spacing-lg);
      color: var(--service-icon-color);
    }

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 0;
      background-color: var(--main-color);
      transition: width linear var(--main-transition);
    }

    &:hover {
      transform: translateY(var(--transform-lift)); // Lifts card up
      box-shadow: 0 2px 15px var(--shadow-medium); // Stronger shadow for depth

      &::before {
        width: 100%;
      }
    }
  }

  &__service-title {
    color: var(--main-color);
    margin-bottom: var(--spacing-4xl);
    font-size: var(--font-size-xl);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    background-color: var(--service-info-color);
    position: relative;

    padding: var(--spacing-md);

    a {
      color: var(--main-color);
      text-decoration: none;
    }

    &::before {
      counter-increment: info-counter;
      content: "0" counter(info-counter);
      color: var(--background-white);
      font-size: var(--font-size-2xl);
      font-weight: bold;
      background-color: var(--main-color);
      margin: calc(var(--spacing-md) * -1);
      padding-right: var(--spacing-4xl);
      padding-left: var(--spacing-md);

      display: flex;
      align-items: center;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: var(--service-info-color-alt);
      width: 50px;
      height: calc(100% + 0.4px);
      transform: skewX(-30deg);
      top: 0;
      left: 70px;
    }

  }
}