$main-color: #2196f3;
$main-color-alt: #1787e0;
$main-transition: 0.3s;
$main-padding-top: 6.25rem;
$main-padding-bottom: 6.25rem;
$section-background: #ececec;
$main-font: Cairo, sans-serif;
$nav-bar-font: 1.125rem;